@charset "UTF-8";

/* em HTML é id = em CSS é #
em HTML é class = em CSS é .
*/

body {background-color: rgb(149, 250, 162);
font-family: Arial, Helvetica, sans-serif;
}

h1#principal { text-align: center;
background-color: azure;}

h1 { color: rgb(75, 63, 2);}
h2 {color: green;}

.básico {color: magenta;}

.intermediário {color: black;}

.avançado {color: blue;}